<table>
    <tr>
      <td>
        <div class="whitekey" id="C"> C
          <!-- <form oninput="x.value=parseInt(pitch_slider_one.value)">50 -->
           <input id="pitch_slider_one" type="text" min="50" max="5000" step="1" value="130.813"/>5000
          <br>
          Frequency= <output name="x" for="pitch_slider_one"></output> Hz
          <!-- </form> -->
          <select id="wave_one" name="wave_type" form="wave">
            <option value="0">Sine</option>
            <option value="1">Square</option>
            <option value="2">Sawtooth</option>
            <option value="3">Triangle</option>
          </select>
        </div>
      </td>
        <td>
          <div class="blackkey" id="C#"> C#
            <!-- <form oninput="x.value=parseInt(pitch_slider_one.value)">50 -->
            <input id="pitch_slider_two" type="text" min="50" max="5000" step="1" value="138.591"/>
              <br>
            <!-- Frequency= <output name="x" for="pitch_slider_two"></output> Hz -->
            <!-- </form> -->
            <select id="wave_two" name="wave_type" form="wave">
              <option value="0">Sine</option>
              <option value="1">Square</option>
              <option value="2">Sawtooth</option>
              <option value="3">Triangle</option>
            </select>
          </div>
        </td>
        <td>
          <div class="whitekey" id="D"> D
            <!-- <form oninput="x.value=parseInt(pitch_slider_one.value)">50 -->
            <input id="pitch_slider_three" type="text" min="50" max="5000" step="1" value="146.832"/>
              <br>
            <!-- Frequency= <output name="x" for="pitch_slider_two"></output> Hz -->
            <!-- </form> -->
            <select id="wave_three" name="wave_type" form="wave">
              <option value="0">Sine</option>
              <option value="1">Square</option>
              <option value="2">Sawtooth</option>
              <option value="3">Triangle</option>
            </select>
          </div>
        </td>
         <td>
            <div class="blackkey" id="D#"> D#
            <!-- <form oninput="x.value=parseInt(pitch_slider_one.value)">50 -->
            <input id="pitch_slider_four" type="text" min="50" max="5000" step="1" value="155.563"/>
              <br>
            <!-- Frequency= <output name="x" for="pitch_slider_two"></output> Hz -->
            <!-- </form> -->
            <select id="wave_four" name="wave_type" form="wave">
              <option value="0">Sine</option>
              <option value="1">Square</option>
              <option value="2">Sawtooth</option>
              <option value="3">Triangle</option>
            </select>
            </div>
        </td>
        <td>
            <div class="whitekey" id="E"> E
               <!-- <form oninput="x.value=parseInt(pitch_slider_one.value)">50 -->
            <input id="pitch_slider_five" type="text" min="50" max="5000" step="1" value="164.814"/>
              <br>
            <!-- Frequency= <output name="x" for="pitch_slider_two"></output> Hz -->
            <!-- </form> -->
            <select id="wave_five" name="wave_type" form="wave">
              <option value="0">Sine</option>
              <option value="1">Square</option>
              <option value="2">Sawtooth</option>
              <option value="3">Triangle</option>
            </select>
            </div>
        </td>
        <td>
            <div class="whitekey" id="F"> F









            </div>
        </td>
        <td>
            <div class="blackkey" id="F#"> F#






            </div>
        </td>
        <td>
            <div class="whitekey" id="G"> G






            </div>
        </td>
        <td>
            <div class="blackkey" id="G#"> G#






            </div>
        </td>
        <td>
            <div class="whitekey" id="A"> A








            </div>
        </td>
        <td>
            <div class="blackkey" id="A#"> A# </div>
        </td>
        <td>
            <div class="whitekey" id="B"> B </div>
        </td>
        <td>
            <div class="whitekey" id="C">  C </div>
        </td>
    </tr>
</table>
