<div id="keyboard_1">
  <table>
      <tr>
        <td>
          <div class='whitekey' id='1'> C
            <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
             <input id='frequency_1' type='range' min='40' max='5000' step='1' value='130.813'/>
            <br>
            <!-- Frequency= <output name='x' for='frequency_1'></output> Hz -->
            <!-- </form> -->
            <select id='wave_1' name='wave_type' form='wave'>
              <option value='0'>Sine</option>
              <option value='1'>Square</option>
              <option value='2'>Sawtooth</option>
              <option value='3'>Triangle</option>
            </select>
              <span>Pan:</span>
              <input id="panner_1" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_1" type="range" min="0" max="5" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_1" type="range" min="-4800" max="4800" step="0.01" value="0" />
              <span>Volume:</span>
              <div id='sliderOne'></div>
              <input id="volume_1" type="range" min="0" max="1" step="0.01" value="0.75" />
          </div>
        </td>
          <td>
            <div class='blackkey' id='2'> C#
              <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_2' type='range' min='50' max='5000' step='1' value='138.591'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_2' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_2" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_2" type="range" min="0" max="1" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_2" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_2" type="range" min="0" max="1" step="0.01" value="0.75" />
            </div>
          </td>
          <td>
            <div class='whitekey' id='3'> D
              <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_3' type='range' min='50' max='5000' step='1' value='146.832'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_3' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_3" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_3" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_3" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_3" type="range" min="0" max="1" step="0.01" value="0.75" />
            </div>
          </td>
           <td>
              <div class='blackkey' id='4'> D#
              <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_4' type='range' min='50' max='5000' step='1' value='155.563'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_4'></output> Hz -->
              <!-- </form> -->
              <select id='wave_4' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_4" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_4" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_4" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_4" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='whitekey' id='5'> E
                 <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_5' type='range' min='50' max='5000' step='1' value='164.814'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_5' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_5" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_5" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_5" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_5" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='whitekey' id='6'> F
                <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_6' type='range' min='50' max='5000' step='1' value='174.614'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_6' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_6" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_6" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_6" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_6" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='blackkey' id='7'> F#
                <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_7' type='range' min='50' max='5000' step='1' value='184.997'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_7' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_7" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_7" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_7" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_7" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='whitekey' id='8'> G
                <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_8' type='range' min='50' max='5000' step='1' value='195.998'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_8' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_8" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_8" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_8" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_8" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='blackkey' id='9'> G#
               <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_9' type='range' min='50' max='5000' step='1' value='207.652'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_9' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_9" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_9" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_9" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_9" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='whitekey' id='10'> A
                 <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_10' type='range' min='50' max='5000' step='1' value='220.000'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_10' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_10" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_10" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_10" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_10" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='blackkey' id='11'> A#
                   <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_11' type='range' min='50' max='5000' step='1' value='233.082'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_11' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_11" type="range" min="-4800" max="4800" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_11" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_11" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_11" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='whitekey' id='12'> B
                <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_12' type='range' min='50' max='5000' step='1' value='246.942'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_12' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_12" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_12" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_12" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_12" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
          <td>
              <div class='whitekey' id='13'>  C
                  <!-- <form oninput='x.value=parseInt(frequency_1.value)'>50 -->
              <input id='frequency_13' type='range' min='50' max='5000' step='1' value='261.626'/>
                <br>
              <!-- Frequency= <output name='x' for='frequency_2'></output> Hz -->
              <!-- </form> -->
              <select id='wave_13' name='wave_type' form='wave'>
                <option value='0'>Sine</option>
                <option value='1'>Square</option>
                <option value='2'>Sawtooth</option>
                <option value='3'>Triangle</option>
              </select>
              <span>Pan:</span>
              <input id="panner_13" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Delay:</span>
              <input id="delay_13" type="range" min="-3" max="3" step="0.01" value="0.5" />
              <span>Filter:</span>
              <input id="filter_13" type="range" min="-3" max="3" step="0.01" value="0" />
              <span>Volume:</span>
              <input id="volume_13" type="range" min="0" max="1" step="0.01" value="0.75" />
              </div>
          </td>
      </tr>
  </table>
</div>


