<select id="keyboard_selector" name="wave_type" form="wave">
  <option value="0">Low C</option>
  <option value="1">Middle C</option>
  <!-- <option value="2">Sawtooth</option>
  <option value="3">Triangle</option> -->
</select>

<div id="keyboard_render">

<%= render 'low_c_keyboard' %>


</div>


