<form id="choose_keyboard" action="/keyboards/select" method="GET">
  <select name="keyboard_selector" id="keyboard_selector">
    <option selected="selected">Please choose your keyboard...</option>
    <option value="0">Low C</option>
    <option value="1">Middle C</option>
    <option value="2">Middle High C</option>
    <option value="3">High C</option>
  </select>
</form>


<div id="keyboard_location">
</div>

<script type="text/javascript">

  $(document).on('change', '#keyboard_selector', function(event) {
    event.preventDefault();

    var selected = $('#keyboard_selector').val();
    var url = $('#choose_keyboard').attr('action');

    $.get(url, {selection: selected}, function(serverResponse) {
      $('#keyboard_location').html(serverResponse);
    })
  });//

</script>
