<h2><%= @keyboard.name %></h2>
<ul class="options">
	<li><%= link_to "Edit Keyboard", edit_user_keyboard_path(@owner, @keyboard) %></li>
	<li></li>
<div class="row">
	<ul id="keyboard">
	<% @keys.each_with_index do |k, index| %>
		<li class="key"><%= render partial: "keys/show", locals: {k: k, index: index} %></li>
	<% end %>
</ul>
</div>

